// @import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/mixins/_breakpoints";
.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
  border: 3px solid var(--primaryColor);
  border-radius: 10px;
  position: relative;
  .ng-fa-icon {
    margin: 15px -17px;
    background-color: white;
    color: var(--primaryColor);
  }
}
.timer span {
  font-size: 2em;
  margin: 0 3px 0 15px;
}

@include media-breakpoint-down(sm,(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)) {
  .timer span {
    font-size: 1.5em;
    margin: 0 1px 0 15px;
  }
}
