.is-1by1{
    display: block;
      position: relative;
      padding-top: 100%;   
         overflow:hidden;
      img{
        transition: transform .2s;
        height: 100%;
        width: 100%;
        bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      display: block;

      object-fit: cover;


      }
      img:hover{
        transform: scale(1.2);
        filter: grayscale(70%);
      }
  }
  figure{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0;
      padding: 0;
  }
  