<div *ngIf="event$ | async as event" class="flex-parent">
  <div class="flex-content"  [style.background-image]="'url(/assets/images/lg/' +eventService.getEventTypeName(event) + '.jpg)'" > 
    <div class="p-3 h-100">
      <div class="text-center glass-bg col-sm-6 h-100 d-flex fade-down">
        <div class="align-self-center text-center w-100 details  ">
         
        <div >Date: {{ event.date | date: "d/MM/yyyy H:mm" }}</div>
        <div *ngIf="event.location">Location: {{ event.location}}</div>
        <div *ngIf="this.authService.hasRole('Admin')">Is Template: {{ event.isTemplate}}</div>
        
      </div>
      </div>
    </div>
  </div>
  <div class="flex-narrow">
  <app-count-down [dDay]="getEventDate(event.date)" class="m-3">
  </app-count-down>
</div>
</div>
