.footer {
  .footer-action {
    text-align: center;
    font-size: 30px;
    color: var(--primaryColor);
    animation: fadeUp 1s;
    animation-delay: 2s;
  }
  border-top: 1px solid var(--primaryColor);
  background-color: var(--primaryLightColor);
}
.flex-content{
    background-size: cover;
     background-position: center;
    animation: bgFadeIn 0.5s linear ;
    .details{
      text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    color: var(--primaryLightColor);
    font-size: 20px;
    }
}
.glass-bg{
  border-radius: 10px;
}

@keyframes bgFadeIn {
  0% {   background-position: top; filter: grayscale(100%); }
    100% {   background-position: center; filter: grayscale(0%); }
  }

  @keyframes fadeUp {
    0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}
100% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
}