<h1 class="title">About Us</h1>
<section>
    <h2>Credits</h2>
    <a href="https://www.freepik.com/free-photo/young-men-roasting-barbecue-grill-cottage-countryside_7598896.htm#query=barbecue&position=5&from_view=search&track=sph">Image by cookie_studio</a> on Freepik
    <a href="https://www.freepik.com/free-vector/air-balloons-flying-night-starry-sky-with-full-moon-clouds-lake-with-rocks-conifers-trees-aerial-flight-travel-midnight-scenery-landscape-cartoon-vector-illustration-background_21002572.htm#query=cartoon%20illustration&position=15&from_view=keyword">Image by upklyak</a> on Freepik
    <a href="https://www.freepik.com/free-photo/delicious-vietnamese-food-including-pho-ga-noodles-spring-rolls-white-table_13702315.htm#query=meal&position=42&from_view=search&track=sph">Image by wirestock</a> on Freepik
    <a href="https://www.freepik.com/free-photo/picnic-french-alps-with-lake-panoramic-view_10585400.htm#query=picnic&position=47&from_view=search&track=sph">Image by vwalakte</a> on Freepik
    <a href="https://www.freepik.com/free-photo/top-view-salad-ingredients-with-chicken-greens-dark-table-health-salad-diet-food_13250209.htm#query=list&position=49&from_view=search&track=sph">Image by KamranAydinov</a> on Freepik
</section>