<div class="flex-parent">
<div class="flex-content">

<h1 class="title">About Us</h1>
<section>
    <h2>Credits</h2>
    Freepik Images:<br/>
    <a target="_blank" href="https://www.freepik.com/free-photo/young-men-roasting-barbecue-grill-cottage-countryside_7598896.htm#query=barbecue&position=5&from_view=search&track=sph">Image by cookie_studio</a> ,&nbsp;
       <a target="_blank" href="https://www.freepik.com/free-photo/delicious-vietnamese-food-including-pho-ga-noodles-spring-rolls-white-table_13702315.htm#query=meal&position=42&from_view=search&track=sph">Image by wirestock</a>,&nbsp;
    <a target="_blank" href="https://www.freepik.com/free-photo/picnic-french-alps-with-lake-panoramic-view_10585400.htm#query=picnic&position=47&from_view=search&track=sph">Image by vwalakte</a>,&nbsp; 
    <a target="_blank" href="https://www.freepik.com/free-photo/floral-garland-eucalyptus-pink-flowers-lies-table_3984960.htm">freepic.diller</a>,&nbsp;
    <a target="_blank" href="https://www.freepik.com/free-photo/birthday-cake-with-candles_4212497.htm#page=2&query=birthday&position=35&from_view=search&track=sph">Freepik</a>,&nbsp;
    <a target="_blank" href="https://www.freepik.com/free-photo/colorful-balloons-festive-party-concept_2893977.htm#query=Party&position=8&from_view=search&track=sph">Image by rawpixel.com</a>,&nbsp;
    <a target="_blank"  href="https://www.freepik.com/free-photo/golden-wedding-rings-white-rose-from-wedding-bouquet_6449482.htm#query=wedding&position=14&from_view=search&track=sph">freepic.diller</a>,&nbsp;
   <a  target="_blank" href="https://www.freepik.com/free-photo/tasty-cake-balloons-arrangement_15852702.htm#page=2&query=event&position=39&from_view=search&track=sph">Freepik</a>
</section>
<br/>
<div class="contact">
    <h2>Contact</h2>
    Email: <a href="mailto:planyapp1@gmail.com">planyapp1@gmail.com</a>
</div>
</div>

<div class="text-center position-absolut0e bottom-0 flex-narrow mb-3">
    <hr/>

   <h2> Developed and designed by</h2>        
    <img src="/assets/images/develper-logo.png" alt="Rivky Rubin Logo" /><br/>
    ©&nbsp;<a target="_blank" href="https://rivkyrubin.com" target="_blank">Rivky Rubin</a>
</div>
</div>