<!-- <img src="/assets/images/events.jpg" class="w-100" /> -->

<div class="content  text-center h-100 ">
  <div class="p-3 col-xs-12 col-sm-6">
    <span class="text-center align-self-center p-4 title"> Manage<br/> your<br/> events! </span>
  </div>
</div>
<section>
  <div>
    <div class="card" *inView>
      <div class="row step">
         <div class="col-sm-6 align-self-center text-center order-sm-2">
          Simply Create a new event
        </div>
        <div class="col-sm-6 img-col order-sm-1 ">
          <img src="/assets/images/date-picker.svg" class="w-100" />
        </div>
       
      </div>
    </div>
  </div>
  <div>
    <div class="card" *inView>
      <div class="row step">
        <div class="col-sm-6 align-self-center text-center">
          You can choose an initial template!<br />
          you'll have a ready list (ex wedding or picnic)<br />
          which you can edit for excpecially your needs!
        </div>
        <div class="col-sm-6 img-col">
          <img src="/assets/images/select.svg" class="w-100" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card mb-0" *inView>
      <div class="row step mb-0"> 
        <div class="col-sm-6 align-self-center text-center order-sm-2">
          You will be able to share your friends, <br />
          You or they will decide what to prepare for the event,<br />
          let them be a part of your event!
        </div>
        <div class="col-sm-6 img-col order-sm-1">
          <img src="/assets/images/addFriends.svg" class="w-100" />
        </div>
       
      </div>
    </div>
  </div>

  <div>
    <div class="text-center fade-down" *inView>
      <a
        class="btn btn-primary col-6 text-center p-3 m-3"
        routerLinkActive="active"
        routerLinkActive="active"
        routerLink="/events"
        >Events</a
      >
    </div>
  </div>
</section>
