<h1 class="title">Password Reset</h1>
<section>
    <form [formGroup]="resetPasswordModel" autocomplete="off" (submit)="onSubmit()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>

                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input class="form-control" formControlName="password" type="password"
                                    placeholder="Password">
                            </div>
                        </div>
                        <label class="text-danger"
                            *ngIf="resetPasswordModel.get('password')?.touched && resetPasswordModel.get('password')?.errors?.required">This
                            field is mandatory.</label>
                        <label class="text-danger"
                            *ngIf="resetPasswordModel.get('password')?.touched && resetPasswordModel.get('password')?.errors?.minlength">Minimum
                            4 characters required.</label>

                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input class="form-control" formControlName="confirmPassword" type="password"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                        <label class="text-danger"
                            *ngIf="resetPasswordModel.get('confirmPassword')?.touched && resetPasswordModel.get('confirmPassword')?.errors?.required">This
                            field is mandatory.</label>
                        <label class="text-danger"
                            *ngIf="resetPasswordModel.get('confirmPassword')?.touched && resetPasswordModel.get('confirmPassword')?.errors?.passwordMismatch">Confirm
                            Password does not match.</label>
                   

                    <div class="row justify-content-start mt-4">
                        <div class="col">

                            <button type="submit" class="btn btn-primary  form-control"
                                [disabled]="!resetPasswordModel.valid">Reset Password</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>