
<h2 mat-dialog-title>Edit Group</h2>

<form [formGroup]="editForm">
  <mat-dialog-content class="mat-typography">
    <div class="form-floating mb-3">
    <input type="text" name="name" formControlName="name" class="form-control" id="floatingInput"/>
    <label for="floatingInput">Name</label> 
    <small class="text-danger" *ngIf="editForm.get('name')?.touched &&editForm.get('name')?.errors?.required">Name is required</small> 
  </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-secondary me-1">Cancel</button>
    <button mat-button (click)="save()" [disabled]="!editForm.valid || editForm.pristine" cdkFocusInitial class="btn btn-primary">Save</button>
    <button mat-button (click)="delete()" cdkFocusInitial class="btn btn-link position-absolute delete">        <fa-icon [icon]="faTrash"></fa-icon></button>
  
  </mat-dialog-actions>
  </form>